@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #0e2a63;
  --color-secondary: #efeff1;
  --modal-background: rgba(0, 0, 0, 0.2);
}

@layer components {
  button {
    @apply cursor-pointer;
  }
}

:root {
  color-scheme: only light;
}

a.active {
  font-weight: bold;
  text-decoration-color: #0e2a63;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

a.active-ourstory {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

a.active-light {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

button.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

b {
  font-weight: 700;
}

/* transition on open */
.expandable-children.open {
  transition: max-height 300ms ease-in;
  max-height: calc(var(--spacing) * 80);
}

/* transition on close */
.expandable-children.close {
  transition: max-height 500ms ease-out;
  max-height: 0;
}

.form-error {
  color: #d54d5d; /* grenadine background color */
}

.recipes-grid-col {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

#news-title {
  font-weight: 500;
}

#news-time {
  font-size: 14px;
}

#news-content {
  font-size: 16px;
  margin-bottom: 36px;
}

@media screen and (width < 670px) {
  .recipes-grid-col {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (width >= 670px) and (width < 990px) {
  .recipes-grid-col {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (width >= 990px) and (width < 1588px) {
  .recipes-grid-col {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (width >= 1588px) and (width < 1920px) {
  .recipes-grid-col {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.news-list {
  @apply
    lg:gap-4 lg:items-start md:px-24 lg:px-28 lg:pt-40 /* large */
    px-12 pt-30 /* smaller than lg */
}