@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #0e2a63;
  --color-secondary: #efeff1;
  --modal-background: rgba(0, 0, 0, 0.2);
}

@layer components {
  button {
    @apply cursor-pointer;
  }
}

a.active {
  font-weight: bold;
  text-decoration-color: #0e2a63;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

a.active-ourstory {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

a.active-light {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

button.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

b {
  font-weight: 700;
}

/* transition on open */
.expandable-children.open {
  transition: max-height 300ms ease-in;
  max-height: calc(var(--spacing) * 80);
}

/* transition on close */
.expandable-children.close {
  transition: max-height 500ms ease-out;
  max-height: 0;
}

.form-error {
  color: #d54d5d; /* grenadine background color */
}
